# Analise de Dados com Python

### Biblioteca

In [8]:
import pandas

### Carregando Dados

In [9]:
dados = pandas.read_excel("vendas.xlsx") #leitura do arquivo excell

In [10]:
dados

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

### Analise Exploratória

In [11]:
#mostrar as 5 primeiras linhas, caso queira mais, colocar quantas linhas dentro de parenteses
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [12]:
# mostrar as ultimas linhas
dados.tail()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [13]:
# verificando a quantidade de linhas e colunas (linhas, colunas)
dados.shape

(70000, 11)

In [7]:
#verificando os tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pedido        70000 non-null  object
 1   data             70000 non-null  datetime64[ns]
 2   loja             70000 non-null  object
 3   cidade           70000 non-null  object
 4   estado           70000 non-null  object
 5   regiao           70000 non-null  object
 6   tamanho          70000 non-null  object
 7   local_consumo    70000 non-null  object
 8   preco            70000 non-null  int64
 9   forma_pagamento  70000 non-null  object
 10  ano_mes          70000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 5.9+ MB

### Gerando Estatisticas

In [14]:
dados.preco.describe()
#mean é média
#std é desvio padrão
#min é o minimo
#max é o maximo

count    70000.000000
mean         8.355200
std          2.653061
min          5.000000
25%          7.000000
50%          7.000000
75%         11.000000
max         13.000000
Name: preco, dtype: float64

In [13]:
# Analises

In [15]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [16]:
#apenas coluna loja e contagem de vendas
dados.loja.value_counts()

loja
Loja 4    13483
Loja 6    13075
Loja 1    12344
Loja 5    12177
Loja 3    10603
Loja 2     8318
Name: count, dtype: int64

In [17]:
#total de vendas por cidade
dados.cidade.value_counts()

cidade
Santos            13483
Florianópolis     13075
Fortaleza         12344
São Paulo         12177
Rio de Janeiro    10603
Niterói            8318
Name: count, dtype: int64

In [18]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [19]:
#total de vendas por forma de pagamento
dados.forma_pagamento.value_counts()

forma_pagamento
Crédito     26063
Débito      20427
Dinheiro    14709
Pix          8801
Name: count, dtype: int64

In [20]:
#dados de vendas por local de consumo
dados.local_consumo.value_counts()

local_consumo
Consumo no local    35099
Delivery            34901
Name: count, dtype: int64

### Agrupamento de Dados

In [21]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [22]:
#faturamento por loja
dados.groupby("loja").preco.sum()

loja
Loja 1    103162
Loja 2     69592
Loja 3     88357
Loja 4    112379
Loja 5    102189
Loja 6    109185
Name: preco, dtype: int64

In [23]:
#faturamento por cidade
dados.groupby("cidade").preco.sum()

cidade
Florianópolis     109185
Fortaleza         103162
Niterói            69592
Rio de Janeiro     88357
Santos            112379
São Paulo         102189
Name: preco, dtype: int64

In [25]:
#faturamento por estado, to_frame é tabela 
dados.groupby("estado").preco.sum().to_frame()

                 preco
estado
Ceará           103162
Rio de Janeiro  157949
Santa Catarina  109185
São Paulo       214568

In [26]:
#mean é a media 
dados.groupby("estado").preco.mean().to_frame()

                   preco
estado
Ceará           8.357259
Rio de Janeiro  8.347815
Santa Catarina  8.350669
São Paulo       8.361964

In [28]:
dados.groupby("estado").preco.max().to_frame()

                preco
estado
Ceará              13
Rio de Janeiro     13
Santa Catarina     13
São Paulo          13

In [33]:
dados.groupby(["estado","cidade", "loja"]).preco.sum().to_frame()

                                       preco
estado         cidade         loja
Ceará          Fortaleza      Loja 1  103162
Rio de Janeiro Niterói        Loja 2   69592
               Rio de Janeiro Loja 3   88357
Santa Catarina Florianópolis  Loja 6  109185
São Paulo      Santos         Loja 4  112379
               São Paulo      Loja 5  102189

In [34]:
#mandar pro excel
dados.groupby(["estado","cidade", "loja"]).preco.sum().to_excel("faturamento-cidade-loja.xlsx")

### Visualização de Dados

In [40]:
!pip install plotly_express

Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: pandas>=0.20.0 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (2.0.3)
Requirement already satisfied: plotly>=4.1.0 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (5.9.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (0.14.0)
Requirement already satisfied: scipy>=0.18 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (1.11.1)
Requirement already satisfied: patsy>=0.5 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (0.5.3)
Requirement already satisfied: numpy>=1.11 in c:\users\samsung\anaconda3\lib\site-packages (from plotly_express) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\samsung\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\samsung\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly_express) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\samsung\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly_express) (2023.3)
Requirement already satisfied: six in c:\users\samsung\anaconda3\lib\site-packages (from patsy>=0.5->plotly_express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\samsung\anaconda3\lib\site-packages (from plotly>=4.1.0->plotly_express) (8.2.2)
Requirement already satisfied: packaging>=21.3 in c:\users\samsung\anaconda3\lib\site-packages (from statsmodels>=0.9.0->plotly_express) (23.1)
Installing collected packages: plotly_express
Successfully installed plotly_express-0.4.1

In [6]:
import plotly_express as px

In [7]:
dados.head()

NameError: name 'dados' is not defined

In [5]:
grafico_lojas = px.histogram(dados, x="loja",y="preco", title="Vendas por loja", text_auto=True, color="forma_pagamento") #gráfico dos dados de "loja"

NameError: name 'px' is not defined

In [56]:
grafico_cidades = px.histogram(dados, x="cidade",y="preco", title="Vendas por loja", text_auto=True, color="forma_pagamento")

In [4]:
grafico_lojas.show()

NameError: name 'grafico_lojas' is not defined

In [59]:
grafico_cidades.write_html("grafico.html")

### Lista

In [68]:
colunas = ["loja", "cidade", "preco"]

In [2]:
#Estrutura de repetição
for coluna in colunas:
    grafico = px.histogram(dados, 
                           x=coluna,
                           y="preco", 
                           title=f"Vendas por {coluna}", 
                           text_auto=True, 
                           color="forma_pagamento")
    grafico.show()
    grafico.write_html(f"grafico-{coluna}.html")

NameError: name 'colunas' is not defined